{
  "name": "Max7219 8x8x4 LED Banner",
  "device_id": "LEDBanner",
  "device_stats_interval": 300,  
  "wifi": {
    "ssid": "YOUR-SSID",
    "password": "YOUR-SSID-PASSWORD"
  },
  "mqtt": {
    "host": "YOUR-MQTT-HOST-NAME-OR-IP",
    "port": 1883,
	  "base_topic": "homie/",
    "auth": true,
    "username": "YOUR-MQTT-USERNAME",
    "password": "YOUR-MQTT-PASSWORD"
  },
  "ota": {
    "enabled": true
  },
  "settings": {
	  "speed": 60,
	  "brightness": 2
  }
}
